.edit-post-header {
    width: 100%;
    height: 100vw;
    max-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-background, .toolbar-background {
    display: none;
}

.header-buttons {
    position: fixed;
    top: 0;
    right: 0;
}
.header-buttons ion-button {
    position: fixed;
    right: calc( 20px + env(safe-area-inset-right));
    top: calc( 10px + env(safe-area-inset-top));
    color: #eee;
}

.header-buttons ion-button::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #000;
    position: absolute;
    top: 10px;
    left: 15px;
}