.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    max-width: 600px;
}

.link-btn {
    outline: none;
    display: inline;
    background: transparent;
    color: var(--ion-color-primary, #3880ff);
}