.hide-title-on-ios.ios ion-title {
    display: none;
}

.photo-grid__photo {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    background-size: cover;
    background-blend-mode: color-burn;
}
.photo-grid__photo:not(.published) {
    background-blend-mode: saturation;
}
  
.photo-grid__photo.has-products:not(.published)::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: yellow;
    bottom: 8px;
    right: 8px;
    border-radius: 20px;
}