@media screen and ( min-width: 767px ) {
    ion-content.settings .container {
        position: relative;
        top: 40px;
        max-width: 600px;
        left: 50%;
        transform: translateX( -50% )
    }
}

ion-item-divider {
    margin-top: 16px;
}