.payment-page {
    height: 100%;;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.payment-page form {
    width: 100%;
}

.payment-page__header {
    text-align: center;
    margin-bottom: 24px;
}
.payment-page__header img {
    height: 42px;
    display: inline-block;
    vertical-align: middle;
}
.payment-page__header span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 12px;
}

.StripeElement {
    background: #eee;
    padding: 20px;
    border-radius: var(--mobile-border-radius);
    margin: 4px 2px 14px;
}

.payment-error {
	text-align: center;
	color: red;
	background: transparent;
	margin: 12px 4px;
	padding: px;
	font-weight: bold;
}

.pricing-table h2 {
    font-size: 14px;
    /* font-weight: 900; */
    margin: 0;
    margin-bottom: 4px;
}
.pricing-table p {
    font-size: 12px;
    margin: 0;
    display: none;
}

.pricing-table .divider::before {
    content: ': ';
}

.pricing-table {
    margin: 0 12px 20px;
    text-align: center;
    border: 2px solid var(--ion-color-medium-shade);
    border-radius: var(--mobile-border-radius);
    width: calc( 100% - 24px );
}

.pricing-table__option {
    padding: 10px;
    margin: 2px;
    border-radius: var(--mobile-border-radius);
}

.pricing-table__option.selected {
    background: var(--ion-color-primary);
    border: solid 2px var(--ion-color-primary-shade);
    color: var(--ion-color-primary-contrast); 
    margin: 2px -12px;
}
.pricing-table__option:first-of-type.selected {
    margin-top: -6px;
}
.pricing-table__option:last-of-type.selected {
    margin-bottom: -6px;
}
.pricing-table__option.selected h2 {
    font-size: 16px;
    font-weight: 600;
}
.pricing-table__option.selected p {
    display: block;
}

@media screen and (min-width: 767px) {
    .payment-page__header img {
        height: 72px;
    }
    .payment-page__header span {
        display: block;
        margin-top: 20px;
        font-size: 26px;
    }
}